body{
    font: 'Arial', san-serif;
    color: rgb(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right, #632FAD, #0099CC);
}

h1{
    font: 600 3.5em 'Arial', san-serif;
    color: rgb(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3{
    font: 900 1em 'Arial', sans-serif;
    color: #000000;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

input[type="color"] {
	-webkit-appearance: none;
	border: 1px solid #000000;
	width: 32px;
    height: 32px;
    border-radius: 50%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

input[type="radio"]{
    margin-right: 10px;
}
span{
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.cover{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.code-area{
    background: #fff;
    padding: 10px;
    width: 50%;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.directions{
    padding: 20px 0;
}

/****************************************************
*
*   MEDIA QUERIES
*
/****************************************************/

@media only screen and (max-width: 700px){
    h1{font: 600 2em 'Arial', san-serif}

    h2{font: 900 1em 'Arial', san-serif;}
}